{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Blog{% endblock %}</title>
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link href="//cdn.shopify.com/s/files/1/0691/5403/t/121/assets/style.scss.css?18166140152513922339" rel="stylesheet" type="text/css"  media="all"  />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">   
    {% block head %}{% endblock %}
  </head>
  <body id="bootstrap-themes" class="swag-line template-index" >
    {% include 'facebook_comment.html' %}
    {% block body %}
    {% include 'navbar.html' %}
    {% block content %}
    {% endblock %}

    {% include 'footer.html' %}

    {% endblock %}

  </body>
</html>