{% load staticfiles %}
<footer>
    <div class="container">
      <div class="row">
        <hr>
        <div class="col-md-12 text-center">
            <ul>
    
              <li class="footer-list-item">
                <a href="https://github.com/focks/" target="_blank">
                <i class="fa fa-github fa-2x"></i>
              </a>
              </li>
            
              <li class="footer-list-item">
                <a href="https://plus.google.com/u/0/+chhandansingha/" target="_blank">
                <i class="fa fa-google-plus fa-2x"></i>
              </a>
              </li>
            
              <li class="footer-list-item">
                <a href="facebook.com">
                  <i class="fa fa-facebook fa-2x"></i>
                </a>
              </li>
            
              <li class="footer-list-item">
                <a href="https://twitter.com/_ckman_/" target="_blank">
                  <i class="fa fa-twitter fa-2x"></i>
                </a>
              </li>            
          </ul> 
          <p><span class="copyright">&copy;</span>2016 Chandan Kumar Singha</p>
        </div>
      </div>
    </div>
  </footer>

 